!!!
%html.no-js
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title PocketMarker
    %meta{content: "", name: "description"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    / Place favicon.ico and apple-touch-icon(s) in the root directory
    %link{href: "css/normalize.css", rel: "stylesheet"}
    %link{href: "css/main.css", rel: "stylesheet"}
  %body
    /[if lt IE 8]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / Add your site or application content here
    .container
      %h1 PocketMarker
      .main
        = yield
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    %script{src: "js/plugins.js"}
    %script{src: "js/main.js"}
