%form{ action:"add_to_pocket", method: "post", id: "bookmark_edit_form" }
  - @bookmark_list.bookmarks.each_with_index do |bookmark, n|
    %label{ for: "bookmark-#{n}" }
      %input{ type: "checkbox", name: bookmark.title, value: bookmark.url, id: "bookmark-#{n}", checked: "checked" }
      = bookmark.title
  %input{ type: "submit", value: "Add to Pocket"}